<h1>New Movie</h1>

<div class="registerMovie" >
  <%= form_with(model: @movie, url: movies_path) do |form| %>
    <div class="container_input" >
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="container_input" >
      <%= form.label :director %>
      <%= form.text_field :director %>
    </div>

    <%= form.submit "Create Movie" %>
    <%= link_to "Mass Movies", mass_movies %>
  <% end %>
<div>
